@import "tailwindcss";

@theme {
  /*
  /* ========== COLORS ========== */
  --color-player-controls: oklch(72.3% 0.219 149.579);
  --color-credits: #36a9c3;
  --color-credits-name: #ff97f5;
  --space-credits-space: 10px;

  /* ========== BREAKPOINT ========== */
  --breakpoint-xs: 412px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1750px;

  /* ========== FONT ========== */
  --font-inter: var(--font-inter);
  --font-jet-brains: var(--font-jet-brains);

  /* ========== TEXT ========== */
  --text-2xs: 0.8rem;
  --text-2xs--line-height: 1.1rem;
  --text-xs: 0.868rem;
  --text-xs--line-height: 1.1875rem;
  --text-sm: 1.042rem;
  --text-sm--line-height: 1.375rem;
  --text-sm--letter-spacing: 0em;
  --text-base: 1.25rem;
  --text-base--line-height: 1.6875rem;
  --text-lg: 1.5rem;
  --text-lg--line-height: normal;
  --text-xl: 1.8rem;
  --text-xl--line-height: normal;
  --text-2xl: 2.16rem;
  --text-2xl--line-height: normal;
  --text-3xl: 2.592rem;
  --text-3xl--line-height: normal;
  --text-4xl: 3.11rem;
  --text-4xl--line-height: normal;
}

@layer components {
  .main-grid {
    @apply grid grid-cols-5 gap-20;
  }
  .content-grid {
    @apply grid grid-cols-4 gap-20;
  }

  /* globals.css o app/globals.css */
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .volume-slider {
    /* sfondo */
    @apply appearance-none bg-green-900 h-1 w-1;
  }
  /* pallina */
  .volume-slider::-webkit-slider-thumb {
    @apply appearance-none h-2 w-2  bg-green-500 cursor-pointer;
  }

  /* .volume-slider::-moz-range-thumb {
    @apply h-3 w-3 rounded-full bg-red-500 cursor-pointer border-0;
  } */

  /* .volume-slider::-webkit-slider-track {
    @apply bg-gray-600 rounded-lg;
  }

  .volume-slider::-moz-range-track {
    @apply bg-gray-600 rounded-lg border-0;
  } */
}

.vimeo-player iframe {
  width: 100%;
  height: 100%;
}

body {
}

/* globals.css */
